#add-button {
    position: fixed;
    top: 80%;
    left: 80%;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: white;
}

.add-space {
    padding-top: 1rem;
}

.title {
    text-align: center;
    margin-top: 2rem;
}
.category-header {
    background-color:#e3eace;
    font-size: 20px;
    padding-left: 1rem;
    color: #525252;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.left-spacing {
    padding-left: 1rem;
}

.pencil-icon {
    width: 60%;
    padding-bottom:.25rem;
  }  

.tag {
    border: none;
    color: black;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 16px;

    background-color: #EFDACF;
    width: auto;
    font-size: 13px;
}

  
.fixedButton {
    position: fixed;
    bottom: 15%;
    right: 8%;
}

.num_button {
    border: none;
    background-color: white;
}


.edit-modal-header {
    margin-top: 1rem;
}

.input_group {
    justify-content: inline;
}

.val {
    margin-right: 0%;
    justify-content: center;
}

.nav-tabs {
    color: #729701;
   /* background-color: #E3EACC; */
}

.filter {
    background-color: #729701;
    margin-top: 10%;
}

