/* General Style rules */
body{
    font-family: 'Nunito Sans', sans-serif;
    color:#525252;
    font-weight:bold;
    font-size:20px;

}

.title {
    text-align: center;
    margin-top: 2rem;
    color:#729701;
    font-weight:bold;
}
  
#add-button {
    position: fixed;
    top: 80%;
    left: 80%;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background-color: darkgray;
}

.add-space {
    padding-top: 1rem;
}

.title {
    text-align: center;
    margin-top: 2rem;
}
.category-header {
    background-color:#e3eace;
    padding-left: 1rem;
    color: #525252;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.quantity {
    border-top-style: hidden;
    border-left-style:hidden;
    border-right-style:hidden;
    border-bottom-style: hidden;
    color:#525252;
    font-weight: bold;
}

.inc-btn {
    border-style:hidden;
    border-radius: 40%;
}



.left-spacing {
    padding-left: 1rem;
}

.pencil-icon {
    width: 60%;
    padding-bottom:.25rem;
  }  

.tag {
    border: none;
    color: black;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 16px;
    background-color: #EFDACF;
    width: auto;
    font-size: 13px;
}

  
.fixedButton {
    position: fixed;
    bottom: 15%;
    right: 8%;
}


.edit-modal-header {
    margin-top: 1rem;
}
