
.fixedbutton {
    position: fixed;
    bottom: 15%;
    right: 10%; 
}

.pencil-icon {
    width: 60%;
    padding-bottom:.25rem;
  } 

  #add-button {
    position: fixed;
    top: 80%;
    left: 80%;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: white;
}

.inventory-title {
  color: #525252;
  padding-top: 1rem;
}
.custom-input {
  border-radius: 25px;
  width: 85%;
  text-align: center;
}
