.add-space {
  padding-top: 1rem;
}

.title {
  text-align: center;
  margin-top: 2rem;
}
.category-header {
  background-color:#e3eace;
  font-size: 20px;
  padding-left: 1rem;
  color: #525252;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.left-spacing {
  padding-left: 1rem;
}

.pencil-icon {
  width: 60%;
  padding-bottom:.25rem;
}


.modal-body {
  max-height: calc(100vh - 143px);
  overflow-y: auto; }

.scrollable-div {
    overflow: auto;
    width: 100%;
    height: 50%;
}

.input-size {
  height: 3rem;
}
.tag {
  border: none;
  color:  #525252;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 16px;

  background-color: #EFDACF;
  width: auto;
  font-size: 13px;
}


.fixedButton {
  position: fixed;
  bottom: 15%;
  right: 8%;
}


.edit-modal-header {
  margin-top: 1rem;
  font-weight: 600;
  font-size: 18px;
 
}

.clear-button {
  width: 5rem;
  display: inline-block;

  padding-left: 1rem;
  margin-left: 1rem;
}

.completed-item {
  text-decoration: line-through;
  color: #BDBDBD;
  display: inline;
  padding-left: .25rem;
}


.not-completed {
  color: #525252;
  text-decoration: underline;
  font-style: italic;
  display: inline;
  padding-left: .25rem;
}

.meal-title {
  color: #525252;
}

.popup {
  display: inline;
  padding-left: .25rem
}

.color-checked {
  accent-color: #525252;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #729701!important;
  border-color:#729701!important;
  color: white !important;
}


.box-custom {
  display: flex;
  align-items: stretch;
  align-content: flex-start;
  flex-direction: row;
}


.edit-tags-link {
  padding-left: 1rem;
  color:#729701;
  font-size: 14px;
}

.style-add {
  margin: .25rem;
}

.text-tag {
  padding-left: 1rem
}



.error-box {
  background-color: #ffebee;
  outline:0.1em solid #990000;
  margin-bottom: 1rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 10px;
  color: black;
  font-size: 14px;

}

.filter-btn {
  padding: none;
}