.navbar{
    background-color: #ECECEC
}

.nav-link {
    display: inline;
    text-align: center;
    padding: 2%;
}

.navbar-text{
    font-size: 14px;
    color: #525252;
    padding: 3%;
    padding-top: 1%;
    justify-content: center;
    align-content: center;
}

.navbar-icon {
    width: 60%;
    padding-bottom:.15rem;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.inventory {
    align-self: center;
    justify-content: center;
    padding-left: 10%;
    margin-left: 15%;
    margin-top: 10%;
}

.grocery_list {
    align-self: center;
    justify-content: center;
    margin-left: 10%;
    width: 90%;
    margin-top: 45%;
}

.meal_plan {
    align-self: center;
    justify-content: center;
    margin-left: 20%;
    padding-bottom: 0%;
}

.recipes {
    align-self: center;
    justify-content: center;
    margin-left: 22%;
}

.account {
    align-self: center;
    justify-content: center;
    margin-left: 20%;
    width: 70%;
    padding-bottom: 0%;
    margin-top: 15%;
}

#account {
    padding-top: 0%;
}

#navbar-background {
    height: 12%;
}