.navbar{
    background-color: #ECECEC
}

.nav-link {
    display: inline;
    text-align: center;
}

.navbar-text{
    font-size: 14px;
    color: #525252;
    padding-top:3%;
    padding: 3%;
    border: #525252;
    border-style: dashed;
    justify-content: center;
    align-content: center;
}

.navbar-icon {
    width: 60%;
    padding-bottom:.15rem;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.try {
    align-self: center;
    justify-content: center;
    padding-left: 3%;
}

