h1 {
    text-align: center;
}

#header {
    align-items: center;
    justify-items: center;
    margin: 20px;
}

.search-bar {
    text-align: center;
}

.recipe-input {
    width: 80%;
}

.recipe-card {
    background-color: lightgray;
    margin-bottom: 20px;
    padding-bottom:1rem;

}


.recipe-card:hover {
  cursor: pointer;
}

.chosenRecipe {
  background-color: #e3eace;
  cursor: pointer;

  margin-bottom: 20px;
  padding-bottom:1rem;
}

#image {
    background-color: gray;
    height: 125px;
    width: 125px;
    margin: 5%;
    padding: 0;
}

.recipe-cards {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 7%;
}

.tags {
    text-align: left;
    background-color: #F8F9AA;
}

#recipe-info {
    margin-top: 5%;
}

#add-button {
    position: fixed;
    top: 80%;
    left: 80%;
    height: 60px;
    width: 60px;
    border-radius: 100%;
}

#select-energy-level {
    display: none;
}

.info-tooltip {
    position: relative;
    display: inline-block;
    color: black;
    border-bottom: 1px dotted black;
}
  
.info-tooltip .info-tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.info-tooltip:hover .info-tooltip-text {
    visibility: visible;
}

#notes {
    white-space: pre-wrap;
}

#ran-out-of-ingredient-alt {
    color:#729701;
}

#add-button {
    position: fixed;
    top: 80%;
    left: 80%;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: white;
}

#card_background {
    background-color: #e3eace;
}

#search-bar {
    padding-left: 5%;
    margin-left: 20%;
    background-color: aqua;
}

#recipe-image {
    object-fit: cover;
    height: 125px;
    width: 125px;
}

.search-bar { position: relative; width:86%; margin: auto }
.search-bar input { padding-left: 35px; background-color:#fff; display:block; width: 100%; box-sizing: border-box }
.search-bar img { position: absolute; top: 2px; left: 5px; padding: 1px }

.energy-icon {
    height: 32px;
}

.time-icon {
    height: 28px;
}

#time-and-energy {
    padding-top: 12px;
}