h1 {
    text-align: center;
}

#header {
    align-items: center;
    justify-items: center;
    margin: 20px;
}

.search-bar {
    text-align: center;
}

.recipe-input {
    width: 80%;
}

.recipe-card {
    background-color: #e3eacc;
    margin-bottom: 20px;
    padding-bottom: 12px;
    border-radius: 7px;
}


.recipe-card:hover {
  cursor: pointer;
}

.chosenRecipe {
  border-color: #729701;
  cursor: pointer;
  border-style: solid;
  background-color: #e3eacc;
  border-radius: 7px;
  border-width: medium;
  margin-bottom: 20px;
  padding-bottom:1rem;
}

#image {
    height: 125px;
    width: 125px;
    margin: 5%;
    padding: 0;
}

.recipe-cards {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
}

.recipe-tags {
    display: inline;
}

.recipe-tag {
    text-align: left;
    background-color: #F8F9AA;
    border-radius: 7px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    padding-bottom: 0px;
    width: fit-content;
    white-space: nowrap;
    display:flex;
}

.recipe-tag p {
    margin-bottom: 2px;
}

#recipe-info {
    margin-top: 5%;
}

#add-button {
    position: fixed;
    top: 80%;
    left: 80%;
    height: 60px;
    width: 60px;
    border-radius: 100%;
}

#select-energy-level {
    display: none;
}

.info-tooltip {
    position: relative;
    display: inline-block;
    color: black;
    border-bottom: 1px dotted black;
}
  
.info-tooltip .info-tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.info-tooltip:hover .info-tooltip-text {
    visibility: visible;
}

#notes {
    white-space: pre-wrap;
}

#ran-out-of-ingredient-alt {
    color:#729701;
}

#card_background {
    background-color: #e3eace;
}

#recipe-image {
    object-fit: cover;
    height: 125px;
    width: 125px;
    border-radius: 7px;
}

.search-bar { position: relative; width:86%; margin-left: 7%; margin-right: 7% }
.search-bar input { padding-left: 35px; padding-top: 3px; padding-bottom: 5px; display:block; width: 100%; box-sizing: border-box; border-radius: 7px; border: none; background-color: #ececec}
.search-bar input:focus {outline: #729701}
.search-bar img { position: absolute; top: 2px; left: 5px; padding: 1px; padding-top: 2px; padding-bottom: 2px; }

::placeholder { color: #525252 }

.energy-icon {
    height: 32px;
}

.time-icon {
    height: 28px;
}

#time-and-energy {
    padding-top: 12px;
}

p, h1, h4 {
    color:#525252
}

.recipe-title {
    text-align: left;
}

#card-energy-icon {
    padding-left: 0;
}

#card-time {
    padding-top: 2.5px;
}

#energy-and-time {
    margin-bottom: 12px;
}

.tag-icon {
    height: 22px;
    padding-right: 2px;
}

#view-recipe-title {
    margin: auto;
}

#edit-recipe-icon {
    height: 26px;
}

#edit-recipe-button {
    border: none;
    background-color: transparent;
    margin-right: 10%;
}

.picture-button {
    border-radius: 7px;
    border: solid #525252;
    margin-top: 10px;
    margin-right: 10px;
}

.upload-image-button {
    border-radius: 7px;
    border: solid #525252;
}

.label-and-tooltip {
    display: flex;
}

.information {
    margin-left: 5px;
}

.energy-required-dropdown {
    border-radius: 7px;
    border: solid #525252;
}